body {
  display: flex;
  height: calc(100vh - 100px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 32, 51);
  background-image: url("./assets/background.png");
}

body > canvas {
  border-radius: 25px;
  border: 4px white solid;
}

.github-url {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.github-url img {
  margin-right: 10px;
}

.github-url a {
  font-family: "Alien League";
  text-decoration: none;
  color: white;
  font-size: 25px;
}

@font-face {
  font-family: "Alien League";
  src: local("./AlienLeagueIiGradientBold.otf");
}

body h1 {
  font-family: "Alien League", serif;
  font-size: 50px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #0d0b21;
  color: white;
  border-radius: 10px;
}
